/* Navbar.css */
.navbar {
  background-color: #333;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #fff;
}

.nav-items {
  display: flex;
}

.nav-item {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
}

.nav-item:hover {
  border-bottom: 2px solid #fff;
}
@media screen and (max-width: 768px) {
  /* Styles for screens with a width of 768 pixels or less */
}

.nav-text {
  cursor: pointer;
}
/* Logout section styling */
.logout {
  margin-right: 30px;
  
}
/* Add other styles based on your design */